:root {
  --font-main: 'Poppins', 'Space Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { margin: 0; min-width: 320px; font-family: var(--font-main); }

.font-poppins { --font-main: 'Poppins', 'Space Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif; }
.font-grotesk { --font-main: 'Space Grotesk', 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif; }
